server {
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	root /var/www/rutorrent;
	index index.php index.html index.htm;

	# Make site accessible from http://localhost/
	server_name localhost;
	
	# Allow larger .torrent files to upload.
	# If experiencing a "413 Request Entity Too Large" error,
	# feel free to increase this setting. 
	client_max_body_size 256M;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
		# Uncomment to enable naxsi on this location
		# include /etc/nginx/naxsi.rules
                auth_basic "Restricted";
                auth_basic_user_file /var/www/rutorrent/.htpasswd;
	}

	# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
	#
	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
	# NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
	
		# With php5-cgi alone:
	#	fastcgi_pass 127.0.0.1:9000;
	#	# With php5-fpm:
		fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
		fastcgi_index index.php;
		include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $request_filename;
		auth_basic "Restricted";
		auth_basic_user_file /var/www/rutorrent/.htpasswd;
	}


	location /RPC2 {
        	include scgi_params;
	        scgi_pass 127.0.0.1:5000;
                scgi_param SCRIPT_NAME /RPC2;
		auth_basic "Restricted";
		auth_basic_user_file /var/www/rutorrent/.htpasswd;
	}

}

